<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Full Screen Image</title>
<style>
  body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }

  .fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
    .used {
    color: black;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 60%;
    left: 65%;
    width: 35%;
    font-size: 50px;
    font-weight: bold;

  }
      .word {
    color: black;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 0%;
    left: 35%;
    width: 35%;
    font-size: 40px;
    font-weight: bold;

  }
</style>
</head>
<body>
  <img src="https://media.istockphoto.com/id/1304389223/vector/gallows-wooden-structure-for-execution-medieval-justice-place-of-death.jpg?s=1024x1024&w=is&k=20&c=3Q0cTLhLrTnS-yiRb7a71-8I39rtwE0VmTK-H6wacW4=" alt="Full Screen Image" class="fullscreen-image">
  <div class="used">
    <h1>Used Letters</h1>
  </div>
  <div class="word">
    <h1>place holder</h1>
  </div>
</body>
</html>